* {
  margin: 0;
}

body {
  margin: auto auto;
  background-color: darkcyan;
  font-family: "Markazi Text", serif;
}

header {
  background-color: coral;
  text-align: center;
  font-size: 5vh;
  font-weight: bolder;
  padding: 4vh;
}
ul {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #f1f1f1;
  padding: 0;
  text-decoration: none;
  font-size: x-large;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  margin: auto auto;
  margin-top: 3vh;
  width: 80vw;
  align-content: center;
  background-color: rgb(228, 233, 233);
  border-radius: 10px;
  border: 2px;
  padding: 50px;
  box-shadow: 2px 4px;
}
.innercontainer {
  width: 100%;
  text-align: center;
}

label {
  font-size: 5vh;
  margin-left: 0.5vw;
  color: crimson;
}

input {
  font-size: 1.5vw;
  border: red 2px solid;
  padding: 1vw;
  border-radius: 10px;
}
button {
  font-size: 1.5vw;
  margin-right: 0.5vw;
  padding: 1vw;
  background-color: firebrick;
  color: white;
  border-radius: 10px;
}

p {
  width: 100%;
  background-color: rgb(181, 225, 226);
  font-size: 5vh;
  padding: 1vw;
  margin-top: 3vh;
  border: #000000 1px solid;
  border-radius: 10px;
}

.warning {
  color: red;
}
footer {
  width: 100%;
  background-color: coral;
  text-align: center;
  font-size: 3vh;
  font-weight: bolder;
  padding: 3vh;
  position: fixed;
  bottom: 0;
}
